version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mysoft_chatbot
    expose:
      - '8000'
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./data:/app/data  # Persist vector database
      - ./app/database:/app/app/database  # Persist chat history

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy_mysoft
    ports:
      - '8089:80'
    networks:
      - app-network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app